.anchor {
  text-decoration: none;
  color: rgb(0 0 0);
  font-weight: bold;
}

.anchor:hover {
  color: rgb(0 0 0);
}

.container {
  max-width: 1100px;
}

.w-60 {
  width: 60vw;
}

.p16rem {
  padding: 13rem 0rem;
}

.pRight24rem {
  padding-right: 24rem !important;
}

/* footer page */
.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
}
